 <div class="head-logo">
    <%= image_tag('zikror.png') %>
  </div>
  <div class="content-page-login">
  <div class="container-login">
    <div class="row-login">
      <div class="col-md-5 signin-form form-content">
        <header>
          <span class="answer">Vous avez un compte ?</span><br/>
          Connectez-vous et profitez<br/> pleinement de vos musiques
        </header>
        <%= form_for(:session, class: "form-group form-horizontal", url: login_path) do |f| %>
          <%= f.text_field :username, class: 'form-control', placeholder: "Nom d'utilisateur" %>
          <%= f.password_field :password, class: 'form-control', placeholder: "Mot de passe" %>
          <div class="errorConnect"><%= @errorsConnect %></div>
          <%= f.submit "Log in", class: "btn-validation", value: "VALIDER" %>
        <% end %>
      </div>
      <div class="col-md-2 col-sm-12 separate-form">
        <span class="vertical-barre"></span>
          <p>OU</p>
        <span class="vertical-barre"></span>
      </div>
      <div class="col-md-5 col-sm-12 signup-form form-content">
        <header>
          <span class="answer">Pas encore de compte ?</span><br/>
          Inscrivez-vous c'est gratuit !
        </header>
          <%= form_for(@user, class: "form-group form-horizontal") do |f| %>
           <%= f.text_field :username, class: 'form-control', placeholder: "Nom d'utilisateur*" %>
            <div class="error"><%= @user.errors[:username].first if @user.errors.any? %></div>

            <%= f.email_field :mail, class: 'form-control', placeholder: "Adresse email*" %>
            <div class="error"><%= @user.errors[:mail].first if @user.errors.any? %></div>

            <%= f.password_field :password, class: 'form-control', placeholder: "Mot de passe*" %>
            <div class="error"><%= @user.errors[:password].first if @user.errors.any? %></div>

            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirmez votre mot de passe*" %>
            <div class="error"><%= @user.errors[:password_confirmation].first if @user.errors.any? %></div>

          <%= f.submit "Create my account", class: "btn-validation", value: "VALIDER" %>
        <% end %>
        
        <span class="indication">* Tout les champs sont obligatoires</span>
      </div>
    </div>
  </div>
  </div>