<% @title = @user == current_user ? "Mes Favoris" : "Favoris de #{@user.username}" %>
	<div class="container container-global">
		<!-- Sidebar -->
		<div class="row">
			<%= render partial: "shared/sidebar" %>
			<div class="page-content">
				<div class="head">
					<%= render partial: "shared/player", locals: {songs: @user.favorite_songs.map(&:song), continue: true} %>
					<h1 class="title-head"><%= @title %></h1>
					<%= render partial: "shared/user_badge" %>
					<%= render partial: 'shared/song_search' %>
				</div>
				<div class="container-fluid">
					<!-- <%= image_tag('zikror.png', class: "bg-content") %> -->
					<div class="row">
						<ul class="nav-profil">
							<div class="menu-profil">
								<%= image_tag('menu-show.png', class: "show-img", style:"display:none;") %>
								<%= image_tag('multiply.png', class: "close-img") %>
							</div>
						</ul>
						<div class="col-lg-9 col-md-8 content-page">
							<% unless @user.favorite_songs.empty? %>
								<%= render partial: "shared/songs_list", locals: {songs: @user.favorite_songs.map(&:song), playlist: false} %>
							<% else %>
								<%= @user.username %> n'a pas encore ajouté de favoris.
							<% end %>
						</div>
						<div class="profil-side col-lg-3 col-md-4">
							<%= render partial: "shared/right_sidebar", locals: {user: @user, data: @user.favorite_songs.map(&:song)} %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
