<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <%= gravatar @user %>
</p>

<% if @user.songs.size == 0 %>
	<strong><%= "#{@user.username} has not uploaded any song yet" %></strong>
<% end %>

<h2>My songs</h2>

<ul>
	<% @user.songs.each do |song| %>
		<li><%= link_to "#{song.title} - #{song.artist}", song_path(song) %></li>
	<% end %>
</ul>

<h2>My Artists</h2>

<ul>
	<% @artists.each do |a| %>
		<li><%= "#{a[0]} - #{a[1]}" %></li>
	<% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
