<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <%= gravatar @user %>
</p>

<% if @user.songs.size == 0 %>
	<strong><%= "#{@user.username} has not uploaded any song yet" %></strong>
<% end %>

<h2><%= correct_user? ? "My songs" : "#{@user.username}'s songs" %></h2>

<ul>
	<% @user.songs.each do |song| %>
		<% if !song.private || correct_user? %>
			<li><%= link_to "#{song.title} - #{song.artist}", song_path(song) %></li>
		<% end %>
	<% end %>
</ul>

<h2><%= correct_user? ? "My playlists" : "#{@user.username}'s playlists" %></h2>

<ul>
	<% @user.playlists.each do |playlist| %>
		<li><%= link_to playlist.name, playlist_path(playlist) %></li>
	<% end %>
</ul>

<h2><%= correct_user? ? "My artists" : "#{@user.username}'s artists" %></h2>

<ul>
	<% @artists.each do |a| %>
		<li><%= "#{a[0]} - #{a[1]}" %></li>
	<% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
