<div class="head">
	<div class="audio">
		<audio id="mejs" src="<%= current_user.songs.first.file.url %>" class="mejs__player">test</audio>
	</div>
	<h1 class="title-head"><%= correct_user? ? "PROFIL" : "PROFIL DE #{current_user.username}" %></h1>
	<div class="avatar">
		<figure style="background-image: url(<%= gravatar_src(current_user) %>); background-size: cover;">
			
		</figure>
		<span><%= link_to current_user.username, user_path(current_user) %></span>
	</div>
	<form class="form-search form-search-musique">
		<div class="form-group">
			<input type="text" name="search-title" placeholder="Rechercher un titre">
			<button type="submit"><%= image_tag('search.png') %></button>
		</div>
	</form>
</div>