<%= form_tag(request.env['PATH_INFO'], method: 'get', class: "form-search form-search-profil") do %>
<div class="form-group">
	<%= search_field_tag(:username, params[:username] || '', name: 'username', placeholder: 'Recherche de profil') %>
	<button type="submit"><%= image_tag('search.png') %></button>
</div>
<% end %>
<div class="center-vertical">
	<ul class="right-tabs nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#right-profil">PROFIL</a></li>
		<li><a data-toggle="tab" href="#right-parcourir">PARCOURIR</a></li>
	</ul>
	<div class="bloc-bottom tab-content">
		<div id="right-profil" class="tab-pane fade in active">
			<div class="avatar-profil" style="background: url(<%= gravatar_src(user) %>); background-size: cover"></div>
			<span class="username"><%= user.username %></span>
			<p class="description-profil"><%= user.description %></p>
			<div class="bloc-pop">
				<span tabindex="0" class="glyphicon glyphicon-option-horizontal" data-trigger="focus" data-toggle="popover" data-content="Email : <%= user.mail %>"></span>
			</div>
			<div class="button">
				<%= link_to 'mon compte'.upcase, edit_user_path(current_user) %>
			</div>
		</div>
		<ul id="right-parcourir" class="list-all-profil tab-pane fade">
			<% User.where("username LIKE ?", "%#{params[:username]}%").each do |user| %>
			<div>
				<li><%= gravatar(user, 40) %></li>
				<li class="title-user"><%= link_to user.username, user %></li>
				<li><%= user.description %></li>
				<div class="action-sidebar-profil">
					<% if current_user == user %>
					<li><%= link_to 'Edit', edit_user_path(user) %></li>
					<% end %>
					<% if current_user.admin %>
					<li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
					<% end %>
				</div>
			</div>
			<% end %>
	    </ul>
	</div>
</div>
<div class="info-user-pop popover">
<span><b>Email</b> : <%= user.mail %></span>
<span><b>Inscrit le</b> : <%= user.created_at.strftime("%d-%m-%Y") %></span>
<span><b>Musiques</b> : <%= user.songs.size %></span>
</div>
<div class="deconnect-profil">
	<%= image_tag('logout.png') %>
	<span class="span-deconnect"><%= link_to "Deconnexion", logout_path, :method => "delete" %></span>
</div>