<table class="table musique ctn-musique table-profil">
	<thead>
		<tr class="disabled-tr">
			<th class="index-th">#</th>
			<th class="favoris-th"></th>
			<th class="action-music"></th>
			<th>Titre</th>
			<th>Artiste</th>
			<th>Genre</th>
			<th>Année</th>
			<th class="last-th">Actions</th>
		</tr>
		<tbody>
			<% songs.each_with_index do |song, key| %>
				<% if !song.private || song.user == current_user %>
					<tr>
						<td><%= key+1 %></td>
						<td>
							<% if has_favorite(song) %>
								<%= link_to image_tag('like_red.png'), '#', class: "action-zik favorite", data: {:song => song.id} %>
							<% else %>
								<%= link_to image_tag('like.png'), '#', class: "action-zik favorite", data: {:song => song.id} %>
							<% end %>
						</td>
						<td class="th-music">
							<%= image_tag('play-button.png', class: "play-music", :data => { :music => song.file.url, :index => key }) %>
						</td>
						<td><%= link_to song.title, song_path(song) %></td>
						<td><%= song.artist %></td>
						<td><%= song.genre %></td>
						<td><%= song.year %></td>
						<td class="th-action">
							<a data-song="<%= song.id %>" data-toggle="modal" data-target="#exampleModalLong" class="action-zik"><%= image_tag('playlist.png') %></a>
							<a href="<%= song.file.url %>" class="action-zik" download><%= image_tag('download-arrow.png') %></a>
							<% if owner?(song) %>
								<%= link_to image_tag('new-file.png'), edit_song_path(song) ,class: "action-zik" %>
								<% if playlist %>
									<%= link_to raw(image_tag('delete-button.png')), { action: "remove", song_id: song.id, playlist_id: @playlist.id }, class: "action-zik", data: { confirm: "Êtes-vous certain de vouloir supprimer #{song.title} de cette playlist ?" } %>
								<% else %>
									<%= link_to image_tag('delete-button.png'), song, class: "action-zik", method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette musique ?' } %>
								<% end %>
							<% end %>
						</td>
					</tr>	
				<% end %>	
			<% end %>
		</tbody>
	</thead>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLongTitle">Ajouter à une playlist</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Choisissez une playlist:</p>
				<%= form_tag("/add_song", method: "post", id: "add_song") do %>
				<%= select_tag(:playlist_id, options_for_select(current_user.playlists.collect{|p| [p.name, p.id]}))%>
				<button type="submit">AJOUTER</button>
				<% end %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
			</div>
		</div>
	</div>
</div>
