<% if @song.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
    <!-- Sidebar -->
    <div class="row row-edit">
      <div class="page-content-edit">
        <div class="head-edit">
          <h1 class="title-head-admin">ADMINISTRATION</h1>

          <div class="avatar avatar-edit">
            <figure style="background-image: url(<%= gravatar_src(current_user) %>); background-size: cover;">
              
            </figure>
            <span><%= link_to current_user.username, user_path(current_user) %></span>
          </div>
          <div class="deconnect-edit">
            <%= image_tag('logout.png') %>
            <span><%= link_to "Deconnexion", logout_path, :method => "delete" %></span>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-6 content-page-edit col-md-offset-3">
            <h3>Editez votre musique<br/>
            <%= link_to 'VOIR - ', @song %>
            <%= link_to 'SUPPRIMER', @song, method: :delete, data: { confirm: 'Etes vous certain de vouloir supprimer cette musique ?' } %>
            </h3>
            <%= form_for(@song) do |f| %>
              <%= f.text_field :title, placeholder: "Modifier le titre de cette musique" %>
              <%= f.text_field :artist, placeholder: "Modifier l'artiste de cette musique" %>
              <%= f.number_field :year, placeholder: "Modifier l'année de cette musique" %>
              <%= f.text_field :genre, placeholder: "Modifier le genre de musique" %>
              <div class="checkboxThree">
                <%= f.check_box :private, id: "private", class: "css-checkbox" %>
                <label class="css-label" for="private"></label>
              </div>
              <div class="block-btn-edit">
              <a href="<%= user_path(current_user) %>"><button type="button" class="btn-cancel-account">ANNULER</button></a>
              <%= f.button :VALIDER, value: "VALIDER" %>
              </div>
              <p>*Pour valider votre formulaire veuillez renseigner votre mot de passe utilisateur</p>
            <% end %>         
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


