<div class="container container-global">
    <!-- Sidebar -->
    <div class="row">
      <%= render partial: "shared/sidebar" %>

      <div class="page-content">
        <div class="head">
          <div class="audio">
            <% if @songs.size > 0 %>
              <audio id="mejs" src="<%= @songs.first.file.url %>" class="mejs__player"></audio>
            <% end %>
          </div>
          <h1 class="title-head"><%= correct_user? ? "PROFIL" : "PROFIL DE #{current_user.username}" %></h1>
          <div class="avatar">
            <figure style="background-image: url(<%= gravatar_src(current_user) %>); background-size: cover;">
              
            </figure>
            <span><%= link_to current_user.username, user_path(current_user) %></span>
          </div>
          <%= render partial: 'shared/song_search' %>
        
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
               <h4 class="modal-title" id="exampleModalLongTitle">Ajouter à une playlist</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Choisissez une playlist:</p>
                <%= form_tag("/add_song", method: "post", id: "add_song") do %>
                  <%= select_tag(:playlist_id, options_for_select(current_user.playlists.collect{|p| [p.name, p.id]}))%>
                  <button type="submit">AJOUTER</button>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <!-- <%= image_tag('zikror.png', class: "bg-content") %> -->
          <div class="row">
            <ul class="nav-profil">
              <span>Recherche pour : </span><%= params[:query] %>
              <div class="menu-profil">
                <%= image_tag('menu-show.png', class: "show-img", style:"display:none;") %>
                <%= image_tag('multiply.png', class: "close-img") %>
              </div>
            </ul>
            <div class="col-lg-9 col-md-8 content-page">
              <% unless @songs.empty? %>
                <%= render partial: "shared/songs_list", locals: {songs: @songs, playlist: false} %>
              <% end %>
            </div>
            <div class="profil-side col-lg-3 col-md-4">
            <%= form_tag(user_path(current_user), method: 'get', class: "form-search form-search-profil") do %>
              <div class="form-group">
                <%= search_field_tag(:username, params[:username] || '', name: 'username', placeholder: 'Recherche de profil') %>
                <button type="submit"><%= image_tag('search.png') %></button>
              </div>
            <% end %>
              <div class="center-vertical">
                <ul class="parcourir-profil-sidebar">
                  <li class="profil-sidebar active-li-sidebar"><span>MON PROFIL</span></li>
                  <li class="parcourir-sidebar"><span>PARCOURIR</span></li>
                </ul>
                <div class="bloc-bottom">
                  <ul class="list-all-profil" style="display:none;">
                  <% User.where("username LIKE ?", "%#{params[:username]}%").each do |user| %>
                    <div>
                      <li><%= gravatar(user, 40) %></li>
                      <li class="title-user"><%= link_to user.username, user %></li>
                      <li><%= user.description %></li>
                      <div class="action-sidebar-profil">
                      <% if current_user == user %>
                        <li><%= link_to 'Edit', edit_user_path(user) %></li>
                      <% end %>
                      <% if current_user.admin %>
                        <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      <% end %>
                      </div>
                     </div>
                  <% end %>
                  </ul>
                  <div class="my-profil-sidebar">
                    <div class="avatar-profil" style="background: url(<%= gravatar_src(current_user) %>); background-size: cover">
                    </div>
                    <span class="username"><%= current_user.username %></span>
                    <p class="description-profil"><%= current_user.description %></p>
                    <div class="bloc-pop">
                      <span tabindex="0" class="glyphicon glyphicon-option-horizontal" data-trigger="focus" data-toggle="popover" data-content="Email : <%= current_user.mail %>"></span>
                    </div>
                    <div class="button">
                      <%= link_to 'PARAMETRES', edit_user_path(current_user) %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info-user-pop popover">
                <span><b>Email</b> : <%= current_user.mail %></span>
                <span><b>Inscrit le</b> : <%= current_user.created_at.strftime("%d-%m-%Y") %></span>
                <span><b>Musiques</b> : <%= current_user.songs.size %></span>
              </div>
              <div class="deconnect-profil">
                <%= image_tag('logout.png') %>
                <span class="span-deconnect"><%= link_to "Deconnexion", logout_path, :method => "delete" %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render partial: "shared/script" %>

<script type="text/javascript">

var song_id;

$("a[data-song]").click(function(){
  song_id = $(this).data('song');
  $('#add_song input[type=submit]').prop('disabled', false)
});

$('#add_song').submit(function(e){
    e.preventDefault();
    $.post('/playlists/add_song',
    {
      song_id: song_id,
      playlist_id: $('#playlist_id').val()
    },
      function(data){
    $('.modal-backdrop.fade.in').hide();
        $('#exampleModalLong').hide();
        $('body').prepend($(
          `<div class="alert alert-info alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>${data}</strong>
          </div>`));
    });
});

$('a.favorite').click(function(e){
    e.preventDefault();
    var song_id = $(this).data('song');
    var that = this;
    $.get(`/songs/favorite/${song_id}`, function(data){
    var img = $(that).children().first();
    if(img.attr('src').indexOf('red') !== -1)
      img.attr('src', '/assets/like.png');
    else
      img.attr('src', '/assets/like_red.png');
    });
  });
</script>
