<div class="container container-global">
    <!-- Sidebar -->
    <div class="row">
      <%= render partial: "shared/sidebar" %>
      <div class="page-content">
        <div class="head">
          <%= render partial: "shared/player", locals: {songs: [@song]} %>
          <h1 class="title-head"><%= @song.user == current_user ? "MA MUSIQUE" : "MUSIQUE DE #{@song.user.username}" %></h1>
          <%= render partial: "shared/user_badge" %>
          <%= render partial: 'shared/song_search' %>
        
        </div>
        <div class="container-fluid">
          <!-- <%= image_tag('zikror.png', class: "bg-content") %> -->
          <div class="row">
            <ul class="nav-profil">
              <!-- <li class="active-list" data-content="ctn-musique"><span><%= correct_user? ? "MES MUSIQUES" : "MUSIQUES" %></span></li> -->
              <div class="menu-profil">
                <%= image_tag('menu-show.png', class: "show-img", style:"display:none;") %>
                <%= image_tag('multiply.png', class: "close-img") %>
              </div>
            </ul>
            <div class="col-lg-9 col-md-8 content-page">
              <%= render partial: "shared/songs_list", locals: {songs: [@song], playlist: false} %>
              <span class="playlist-assoc">PLAYLIST(S) ASSOCIÉE(S)</span>

              <div class="table ctn-playlist table-profil">
                <% unless @song.playlists.empty? %>
                  <% @song.playlists.each do |playlist| %>
                    <div class="divider-block-playlist" <% unless playlist.image_file_name.nil? %> style="background: rgb(65, 65, 65) url(<%= playlist.image.url %>) no-repeat 200% center / cover;" <% end %>>
                      <a href="<%= playlist_path(playlist) %>">
                      <div class="circle" <% unless playlist.image_file_name.nil? %>style="border:none;"<% end %>>
                        <%= image_tag('search.png') %>
                      </div>
                      </a>
                      <span><%= link_to playlist.name, playlist_path(playlist) %></span><br>
                      <span class="nbr-title"><%= pluralize(playlist.songs.size, 'titre') %></span>
                    </div>
                  <% end %>
                <% else %>
                  Aucune playlist associé à cette musique
                <% end %>
              </div>
            </div>
            <div class="profil-side col-lg-3 col-md-4">
              <%= render partial: "shared/right_sidebar", locals: {user: @song.user} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render partial: "shared/script" %>
