<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @song.id_user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @song.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<p>
  <strong>Private:</strong>
  <%= @song.private %>
</p>

<p>
  <%= @song.file.url %><br/>
  <%= audio_tag(@song.file.url, autoplay: true, controls: true) %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
