 <div class="container container-global">
    <!-- Sidebar -->
    <div class="row">
      <%= render partial: "shared/sidebar" %>

      <div class="page-content">
        <div class="head">
          
          <h1 class="title-head">PARCOURIR</h1>
          <div class="avatar">
            <figure style="background-image: url(<%= gravatar_src(current_user) %>); background-size: cover;">
              
            </figure>
            <span><%= link_to current_user.username, user_path(current_user) %></span>
          </div>
          <%= form_tag('/playlists', method: 'get', class: "form-search form-search-musique") do %>
          <div class="form-group">
            <%= search_field_tag(:playlist_name, params[:playlist_name] || '', list: 'datas', placeholder: "Rechercher une playlist") %>
            <datalist id="datas">
              <% Playlist.pluck(:name).each do |d| %>
                <option value="<%= d %>"></option>
              <% end %>
            </datalist>
            <button type="submit"><%= image_tag('search.png') %></button>
            </div>
          <% end %>

        
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <!-- <%= image_tag('zikror.png', class: "bg-content") %> -->
          <div class="row">
            <ul class="nav-profil">
              <li data-content="ctn-musique"><span><%= link_to 'AJOUTER UNE NOUVELLE PLAYLIST', new_playlist_path %></span></li>
              <div class="menu-profil">
                <%= image_tag('menu-show.png', class: "show-img", style:"display:none;") %>
                <%= image_tag('multiply.png', class: "close-img") %>
              </div>
            </ul>
            <div class="col-lg-9 col-md-8 content-page">
              <div class="table ctn-playlist">
              <% @playlists.each do |playlist| %>
                <div class="divider-block-playlist" <% unless playlist.image_file_name.nil? %> style="background: rgb(65, 65, 65) url(<%= playlist.image.url %>) no-repeat 200% center / cover;" <% end %>>
  
                  <a href="<%= playlist_path(playlist) %>">

                  <div class="circle" <% unless playlist.image_file_name.nil? %>style="border:none;"<% end %>>
                    <%= image_tag('search.png') %>
                  </div>
                  </a>
                  <span><%= link_to playlist.name, playlist_path(playlist) %></span><br>
                  <span class="nbr-title"><%= pluralize(playlist.songs.size, 'titre') %></span>
                </div>
              <% end %>
              </div>
            </div>
            <div class="profil-side col-lg-3 col-md-4">
            <%= form_tag(playlist_path(@playlists), method: 'get', class: "form-search form-search-profil") do %>
              <div class="form-group">
                <%= search_field_tag(:username, params[:username] || '', name: 'username', placeholder: 'Recherche de profil') %>
                <button type="submit"><%= image_tag('search.png') %></button>
              </div>
            <% end %>
              <div class="center-vertical">
                <ul class="parcourir-profil-sidebar">
                  <li class="profil-sidebar active-li-sidebar"><span>MON PROFIL</span></li>
                  <li class="parcourir-sidebar"><span>PARCOURIR</span></li>
                </ul>
                <div class="bloc-bottom">
                  <ul class="list-all-profil" style="display:none;">
                  <% @users_list.each do |user| %>
                    <div>
                      <li><%= gravatar(user, 40) %></li>
                      <li class="title-user"><%= link_to user.username, user %></li>
                      <li><%= user.description %></li>
                      <div class="action-sidebar-profil">
                      <% if current_user == user %>
                        <li><%= link_to 'Edit', edit_user_path(user) %></li>
                      <% end %>
                      <% if current_user.admin %>
                        <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      <% end %>
                      </div>
                     </div>
                  <% end %>
                  </ul>
                  <div class="my-profil-sidebar">
                    <div class="avatar-profil" style="background: url(<%= gravatar_src(current_user) %>); background-size: cover">
                    </div>
                    <span class="username"><%= current_user.username %></span>
                    <p class="description-profil"><%= current_user.description %></p>
                    <div class="bloc-pop">
                      <span tabindex="0" class="glyphicon glyphicon-option-horizontal" data-trigger="focus" data-toggle="popover" data-content="Email : <%= current_user.mail %>"></span>
                      <div class="info-user-pop popover">
                        <span>Email : <%= current_user.mail %></span>
                        <span>Inscrit le : <%= current_user.created_at.strftime("%d-%m-%Y") %></span>
                        <span>Musiques : <%= current_user.songs.size %></span>
                      </div>
                    </div>
                    <div class="button">
                      <%= link_to 'PARAMETRES', edit_user_path(current_user) %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="deconnect-profil">
                <%= image_tag('logout.png') %>
                <span class="span-deconnect"><%= link_to "Deconnexion", logout_path, :method => "delete" %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">

    if(localStorage.getItem('hide') === 'true'){
        menuToggle();
    }

    $('.menu-profil').click(function(){
        localStorage.setItem('hide', true);
        menuToggle();
    });

    $(document).on('click', '.parcourir-sidebar', function(){
      $('.my-profil-sidebar').css('display','none');
      $('.list-all-profil').css('display','block');

      $('.parcourir-sidebar').addClass('active-li-sidebar');
      $('.profil-sidebar').removeClass('active-li-sidebar');
    });

    $(document).on('click', '.profil-sidebar', function(){
      $('.my-profil-sidebar').css('display','block');
      $('.list-all-profil').css('display','none');
        
      $('.parcourir-sidebar').removeClass('active-li-sidebar');
      $('.profil-sidebar').addClass('active-li-sidebar');
      
      $('.bloc-bottom').scrollTop(0);
      $('.bloc-bottom').perfectScrollbar('update');
    });

    $('.content-page').perfectScrollbar(); 
    $('.profil-side').perfectScrollbar(); 
    $('.sidebar').perfectScrollbar();
    $('.bloc-bottom').perfectScrollbar();

    function menuToggle(){
      $('.profil-side').toggle();
      $('.content-page').toggleClass('clicked');
      $('.nav-profil').toggleClass('clicked');
      $('.close-img').toggleClass('clicked');
      $('.show-img').toggleClass('clicked');
    }
  </script>