<div class="container container-global">

<!-- Sidebar -->
<div class="row">
	<%= render partial: "shared/sidebar" %>
	<div class="page-content">
		<div class="head">
			<%= render partial: "shared/player", locals: {songs: @playlist.songs} %>
			<h1 class="title-head"><%= @playlist.user == current_user ? "MA PLAYLIST" : "PLAYLIST DE #{@playlist.user.username}" %></h1>
			<div class="avatar">
				<figure style="background-image: url(<%= gravatar_src(current_user) %>); background-size: cover;"></figure>
				<span><%= link_to current_user.username, user_path(current_user) %></span>
			</div>
			<%= form_tag('/playlists', method: 'get', class: "form-search form-search-musique") do %>
			<div class="form-group">
			  <%= search_field_tag(:playlist_name, params[:playlist_name] || '', list: 'datas', placeholder: "Rechercher une playlist") %>
			  <datalist id="datas">
			    <% Playlist.pluck(:name).each do |d| %>
			      <option value="<%= d %>"></option>
			    <% end %>
			  </datalist>
			  <button type="submit"><%= image_tag('search.png') %></button>
			  </div>
			<% end %>
		</div>
		<div class="container-fluid">
			<%= image_tag('zikror.png', class: "bg-content") %>
			<div class="row">
				<ul class="nav-profil">
					<li class=""><span><%= link_to 'RETOURNER SUR VOTRE PROFIL', user_path(current_user) %></span></li>
					<li class="parcourir-list"><span><%= link_to 'PARCOURIR LES PLAYLISTS', playlists_path %>	</span></li>
					
					<div class="menu-profil">
						<%= image_tag('menu-show.png', class: "show-img", style:"display:none;") %>
						<%= image_tag('multiply.png', class: "close-img") %>
					</div>
				</ul>
				<div class="col-lg-9 col-md-8 content-page">
					<div class="block-info-playlist">
						<div class="img-playlist" <% unless @playlist.image_file_name.nil? %> style="background: rgb(65, 65, 65) url(<%= @playlist.image.url %>) no-repeat 200% center / cover;" <% end %>>
						<div class="circle" <% unless @playlist.image_file_name.nil? %>style="border:none;"<% end %>>
										
									</div>
						</div>
						<div class="text-info-playlist">
							<h1><%= @playlist.name %>
								<% if owner?(@playlist) %>
									<%= link_to raw(image_tag('new-file.png')), edit_playlist_path(@playlist) %>
								<% end %>
							</h1>
							<p>
								<h4><strong>Description:</strong></h4>
								<%= @playlist.description %>
							</p>
						</div>
					</div>
					<table class="table musique">
						<thead>
							<% unless @playlist.songs.empty? %>
								<%= render partial: "shared/songs_list", locals: {songs: @playlist.songs, playlist: true} %>
							<% else %>
								Aucune chanson n'a été ajouté à cette playlist.
							<% end %>
						</thead>
					</table>
					
				</div>
				<div class="profil-side col-lg-3 col-md-4">
					<%= render partial: "shared/right_sidebar", locals: {user: @playlist.user} %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<%= render partial: "shared/script" %>
