<% unless @playlist.image_file_name.nil? %>
	<p>
		<%= image_tag @playlist.image.url %>
	</p>
<% end %>

<p>
  <strong>User:</strong>
  <%= @playlist.user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @playlist.description %>
</p>

<p>
  <h3>Songs:</h3>
  <% unless @playlist.songs.empty? %>
  <ul id="songs">
  <% @playlist.songs.each do |song| %>
    <li data-url="<%= song.file.url %>">
		<%= link_to song.title, song_path(song) %>
		<% if owner?(@playlist) %>
			<%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), { action: "remove", song_id: song.id, playlist_id: @playlist.id }, data: { confirm: "Are you sure you want to remove #{song.title} from #{@playlist.name} ?" } %>
		<% end %>
    </li>
  <% end %>
  </ul>
  <% else %>
    This playlist has no songs yet.
  <% end %>
</p>

<% unless @playlist.songs.empty? %>
	<p><%= audio_tag(@playlist.songs.first.file.url, autoplay: false, controls: true, id: 'player_zikror') %></p>
<% end %>

<% if owner?(@playlist) %>
	<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<% end %>
<%= link_to 'Back', playlists_path %>

<script type="text/javascript">
	var songs = $('#songs li'),
	index = 0;

	function setPlayingStyle(n){
		songs.removeClass('playing');
		songs.eq(n).addClass('playing');
	}
	setPlayingStyle(index);

	$('#player_zikror').on('ended', function(){
		index = (index + 1) % songs.length;
		this.src = songs.eq(index).data('url');
		setPlayingStyle(index);
	});
</script>
